[Unit]
Description=JupyterNotebook
After=derbyns.service

[Service]
User=root
ENVIRONMENT="SPARK_HOME=/opt/spark"
Environment="PATH=/opt/spark/bin:/opt/spark/sbin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="PYTHONPATH=/opt/spark/python:/opt/spark/python/lib/py4j-0.10.9.9-src.zip"
Environment="CLASSPATH=/opt/derby/lib:/opt/sparkplayground/jars"
Environment="IPYTHON_START_SPARK=Y"
ExecStart=/usr/bin/jupyter notebook --notebook-dir "/opt/sparkplayground/notebooks" --ip 0.0.0.0 --no-browser --allow-root --NotebookApp.password "" --NotebookApp.token ""

[Install]
WantedBy=multi-user.target
