[Unit]
Description=Spark deamons
After=derbyns.service

[Service]
User=root
Type=forking
ExecStart=bash /opt/sparkplayground/start-thrift.sh
ExecStop=bash /opt/sparkplayground/stop-thrift.sh

[Install]
WantedBy=multi-user.target
